<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Append Content</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="assi5.css">

</head>
<body>
<!-- partial:index.partial.html -->
<form name="input" onsubmit="return covertdata(this);">
<div class="container">
  <div class="input-group1">
    <label class="input-group__label" for="myInput">File 1</label>
    <input type="file" id="myInput" name="file1" class="input-group__input" value="" />
  </div>
  <div class="input-group2">
    <label class="input-group__label" for="myInput">File 2</label>
    <input type="file" id="myInput" name="file2" class="input-group__input" value="" />
  </div>
  <button class="button-64" type="submit" name="submit" value="Submit" role="button"><span class="text">Submit</span></button>

</div>
<!-- partial -->
  <!-- HTML !-->

</form>
<script>
  function covertdata(input){

   
// Import the filesystem module
//const fs = require('fs');
var file1 = input.file1.value;
var file2 = input.file2.value;
//alert("\nFile Contents of file after append:",
	//fs.readFileSync(file1, "utf8"));
alert(file1);
// Get the file contents before the append operation
//console.log("\nFile1 Contents of file before append:",
//fs.readFileSync(file1, "utf8"));
/*
fs.appendFile(file1, file2, (err) => {
if (err) {
	console.log(err);
}
else {
	// Get the file contents after the append operation
	console.log("\nFile Contents of file after append:",
	fs.readFileSync(file2, "utf8"));
    alert("\nFile Contents of file after append:",
	fs.readFileSync(file2, "utf8"));
}
});
*/
  }
</script>

</body>
</html>
