<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel = "stylesheet" href="assi8_9_10_11.css">
  <title> My Form </title>
</head>

<body>
    <header>
      <h1>Customers Database</h1>
    </header>


   

       <form action="/delete" method="POST">
        <fieldset>
          <h3>Delete specific customer</h3>
          <label>Customer Name</label>
          <input type ="text" id = 'empID' name="name" required>
          <br><br>
          <button type ="reset">Reset</button>
          <button type ="submit">Delete</button>
          <br><br><br>
        </fieldset>
       </form>

       <footer>
        <hr>
        <!-- <h4>Please enter 'http://localhost:8001/close' to close the   database connection before closing this window</h4> -->
      </footer>
    </body>
  </html>