<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="header.js"></script>
    <style>
        .atag {
            
            padding-left:35px ;
        }
        .atag a{
            text-decoration: none;
        }
    </style>
    <title>Django Assignment</title>
</head>

<body>
    <div class="secdiv"></div>
    <h1 style="text-align: center;">Msc cs-II Lab Assignment</h1>
    
    
    <h2 style="text-align: center;">Django Assignment</h2>
    <div class="atag">
        <a href="#">1. Create your Django app in which after running the server, you should see on the
            browser, the text “Hello! I am learning Django”, which you defined in the index view.</a>
            <br>
        <a href="#">2. Design a Django application that adds web pages with views and templates.</a>
            <br>
        <a href="#">3.Write and run Django code to add data to your site using relational databases with
            Django’s Object Relational Mapper.</a>
            <br>
  
        <a href="#">4. Develop a basic poll application (app).It should consist of two parts:
            a) A public site in which user can pick their favourite programming language and vote.
            b) An admin site that lets you add, change and delete programming languages. </a>
        <br>
        <a href="#">5. A public site in which user can pick their favourite programming language and vote.</a>
        <br>
        <a href="#">6. An admin site that lets you add, change and delete programming languages. </a>
        <br>
        <a href="#">7. Implement a simple Django application for portfolio management.</a>
        <br>
        <a href="#">8. Create your own blog using Django</a>
        <br>
        
        <a href="#">9. Build your own To-Do app in Django</a>
        <br>
        <a href="#">10. Create a clone of the “Hacker News” website.</a>
        <br>
        <a href="#">11. Develop Online School System using Django</a>
        <br>
        <a href="#">12. Implement your E-commerce Website using</a>
        <br>
    
        </div>
        
</body>

</html>